body {
  background-color: lightgrey;
  margin: 0px;
  background-size: cover;
  background-repeat: no-repeat; }

body, html {
  height: 100%;
  margin: 0; }

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90px;
  color: white; }

.primary-links {
  display: flex;
  flex-direction: row-reverse;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin-right: 40px; }

.primary-links > * {
  margin-left: 10px;
  color: white; }

.secondary-links {
  display: flex;
  flex-direction: row-reverse;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-right: 40px; }

.secondary-links > * {
  margin-left: 10px;
  color: white; }

a.link:hover {
  color: #0083c0; }

a {
  text-decoration: none; }

#form {
  width: 0px; }

#logo {
  position: absolute;
  left: 55px;
  top: 5px; }

#main-bg {
  background-image: url(../images/main-bg.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -90px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center; }

#nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: inherit;
  background-image: linear-gradient(black, transparent);
  z-index: 5; }

#main-feature {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  text-shadow: 3px 3px 5px #1e1e27; }

#main-feature h1 {
  font-weight: 300 !important;
  font-size: 60px;
  letter-spacing: 1px; }

#dropdown {
  display: none; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black; }

.blue-button {
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 20px;
  background: #0083c0;
  color: white;
  font-size: 15px;
  margin: 20px; }

.orange-button {
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 20px;
  background: #f26921;
  color: white;
  font-size: 15px;
  margin: 20px; }

.orange-outline-button {
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 20px;
  border: #f26921 solid 2px;
  background: #111111;
  color: #f26921;
  font-size: 12px;
  margin: 20px; }

button:hover {
  opacity: .75; }

.container {
  height: auto;
  background-image: linear-gradient(to bottom right, #122021, #003147);
  display: flex;
  padding: 60px 0px 110px 0px;
  border-top: solid 4px #0083c0;
  border-bottom: solid 4px #0083c0; }

.owl-content {
  flex-direction: column;
  display: flex;
  align-items: center;
  z-index: -1; }

.owl-stage {
  margin-left: 0px; }

.owl-container {
  width: 50%; }

.content {
  background-color: #1e1e27;
  color: white;
  padding: 10px 20px 10px 20px; }

h3 {
  color: #0083c0;
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  margin-top: 0px; }

h4 {
  color: #0083c0;
  font-family: "Open Sans", sans-serif;
  margin: 0px; }

p {
  font-family: "Open Sans", sans-serif; }

.content p {
  font-family: "Open Sans", sans-serif;
  font-size: 10px; }

#angled-background {
  width: 500px;
  height: 290px;
  background: #0083c0;
  left: -.25em;
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  transform: skewY(-3deg);
  z-index: 1;
  margin-top: -10px; }

#scroll {
  width: 415px;
  height: 215px;
  position: absolute;
  top: 13%;
  left: 10%;
  transform: translate(-50%, -50%);
  -webkit-transform: skewY(3deg);
  -moz-transform: skewY(3deg);
  transform: skewY(3deg); }

.scroll-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.json-container {
  height: 500px;
  display: flex;
  flex-direction: row; }

.json-data {
  height: 100px;
  background-color: black;
  margin: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row; }

.events-content {
  width: 96%;
  background-color: #1e1e27;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
  height: 80px; }

.simplebar-content {
  overflow: scroll !important; }

.simplebar-scrollbar {
  background-color: black; }

.simplebar-track {
  background-color: #013c58; }

.json-title {
  position: relative;
  top: -78px;
  left: 120px;
  max-width: 280px;
  font-size: 12px; }

.json-body {
  position: relative;
  left: 120px;
  top: -81px;
  color: white;
  line-height: 15px;
  font-size: 8px;
  max-width: 280px; }

.image-container img {
  width: 100%;
  box-shadow: 0 0 0 5px #0083c0; }

.responsive {
  width: 100%;
  height: auto; }

#fourth-feature {
  display: grid;
  grid-template-areas: 'big1 big1 small3 small4' 'big1 big1 big2 big2' 'small1 small2 big2 big2';
  width: auto; }

footer {
  display: flex;
  flex-direction: row;
  background-color: #111111; }

#footer-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  align-items: center;
  position: relative; }

.footer-logo-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  color: white; }

.footer-logo-info p {
  font-size: 13px;
  text-align: center; }

.footer-logo-info .primary-links > * {
  font-size: 13px;
  margin-right: 0px; }

#footer-image {
  width: 50%; }

#triangle {
  position: absolute;
  top: 35%;
  right: 100%;
  z-index: 2;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-bottom: 60px solid transparent;
  border-top: 60px solid transparent;
  border-right: 60px solid #111111; }

@media only screen and (max-width: 960px) {
  .primary-links {
    display: none; }

  .secondary-links {
    display: none; }

  #logo {
    display: none; }

  #dropdown {
    position: absolute;
    right: 30px;
    top: 20px;
    display: initial; }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden; }

  #fourth-feature {
    display: flex;
    flex-direction: column;
    align-items: center; }

  footer {
    flex-direction: column; }

  #footer-logo {
    width: 100%;
    padding: 70px 0px 70px 0px; }

  #footer-image {
    width: 100%; }

  #triangle {
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari */
    transform: rotate(90deg);
    top: -27%;
    right: 43%; } }
@media only screen and (max-width: 660px) {
  #triangle {
    right: 37%; } }

/*# sourceMappingURL=output.css.map */
