$background-color: blue;
$font: sans-serif;

body {
    background-color: $background-color;
    margin: 0px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90px;
    background-image: linear-gradient(to bottom, black, transparent);
    color: white;
    padding-right: 60px;
}

.primary-links {
    display: flex;
    flex-direction: row-reverse;
    font-family: $font;
    font-size: 18px;
}

.primary-links > * {
    margin-left: 10px;
}

.secondary-links {
    display: flex;
    flex-direction: row-reverse;
    font-family: $font;
    font-size: 14px;
}

.secondary-links > * {
    margin-left: 10px;
}

#logo {
    position: absolute;
    left: 55px; 
    top: 5px;
}